@import './variables';
@import './base/selector';
@import './pages/Main';
@import './components/Navbar';
@import './responsive/responsive';


body {
    @include font-family;
    background-color: $white-background;
    margin: 0;
    padding: 0;
    transition: all 300ms;
    zoom: 0.9;
  }
  
  html {
    transition: all 300ms;
    scroll-behavior: smooth;
  }
  