@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100&display=swap");
.selector {
  width: 300px;
  height: 300px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 15px 0 #00000020;
          box-shadow: 0 0 15px 0 #00000020;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.selector img {
  height: 80px;
  width: 80px;
  margin: 0 0 10px 0;
}

.selector h3 {
  color: #23221F;
  font-size: 25px;
  margin: 0;
  text-decoration: none;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.selector:hover {
  background-color: #45A584;
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
  -webkit-box-shadow: 0 0 25px 0 #00000040;
          box-shadow: 0 0 25px 0 #00000040;
}

.selector:hover h3 {
  color: #fff;
}

.selector:hover img {
  -webkit-filter: brightness(10);
          filter: brightness(10);
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__holder {
  width: 100%;
  max-width: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__holder h1 {
  margin: 100px 0 50px 0;
  color: #23221F;
}

.main__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 300px;
      grid-template-columns: 300px 300px;
  gap: 20px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 50px 0;
}

.navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  height: 55px;
  -webkit-box-shadow: 0 0 30px 0 #00000020;
          box-shadow: 0 0 30px 0 #00000020;
  position: fixed;
  top: 0;
  z-index: 99;
}

.navbar__container {
  width: 100%;
  max-width: 600px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__container img {
  height: 50px;
}

.navbar__container h3 {
  padding: 0;
  margin: 0;
  color: #23221F;
}

@media screen and (max-width: 600px) {
  .selector {
    width: 250px;
    height: 250px;
  }
  .main__container {
    -ms-grid-columns: 250px 250px;
        grid-template-columns: 250px 250px;
    gap: 20px;
  }
}

@media screen and (max-width: 600px) and (max-width: 500px) {
  .selector {
    width: 200px;
    height: 200px;
  }
  .main__container {
    -ms-grid-columns: 200px 200px;
        grid-template-columns: 200px 200px;
    gap: 20px;
  }
  .selector img {
    height: 50px;
    width: 50px;
  }
  .selector h3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) and (max-width: 500px) and (max-width: 400px) {
  .selector {
    width: 150px;
    height: 150px;
  }
  .main__container {
    -ms-grid-columns: 150px 150px;
        grid-template-columns: 150px 150px;
    gap: 20px;
  }
}

@media screen and (max-width: 600px) and (max-width: 500px) and (max-width: 310px) {
  .selector {
    width: 125px;
    height: 125px;
  }
  .main__container {
    -ms-grid-columns: 125px 125px;
        grid-template-columns: 125px 125px;
    gap: 10px;
  }
}

@media screen and (max-width: 600px) and (max-width: 500px) and (max-width: 250px) {
  .selector {
    width: 90px;
    height: 90px;
  }
  .main__container {
    -ms-grid-columns: 90px 90px;
        grid-template-columns: 90px 90px;
    gap: 10px;
  }
  .selector img {
    height: 35px;
    width: 35px;
  }
  .selector h3 {
    font-size: 15px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f7f8f9;
  margin: 0;
  padding: 0;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  zoom: 0.9;
}

html {
  -webkit-transition: all 300ms;
  transition: all 300ms;
  scroll-behavior: smooth;
}
/*# sourceMappingURL=index.css.map */